.header{
				width: 100%;
				height: 140px;
			}
			.site-topbar{
				width: 100%px;
				height: 40px;
				background-color: #333;
			}
			.topbar-nav{
				margin-left:330px;
				font-size:12px;
			}
			.container{
				position:relative;
			}
			.topbar-nav a{
				position: relative;
				display:block;
				float:left;
				margin-left:5px;
				text-align:center;
				line-height:40px;
			}
			.sep{
				color:#3c423c;
				display:block;
				float:left;
				margin-left:5px;
				text-align:center;
				line-height:40px;
			}
			.site-topbar a:hover{
				color:#fff;
			}

			.appcode{
				display:none;
				z-index:1;
				position:absolute;
				top:40px;
				left:-40px;
				width:124px;
				height: 128px;
				color:#000;
				font-size:14px;
				background-color: #d7d7d7;
				border:1px solid transparent;
				box-shadow:0 0 5px white;
			}
			.appcode img{
				margin-top:5px;
				margin-left:5px;
				width:90px;
				height: 90px;
			}
			.appcode li{
				margin-top:-15px;
			}
			.topbar-download:hover .appcode{
				display:block;
			}
			.topbar-info{
				position: absolute;
				top:0;
				left:1280px;
				font-size:12px;
			}
			.topbar-info a{
				position: relative;
				display:block;
				float:left;
				margin-left:5px;
				text-align:center;
				line-height:40px;
			}
			.topbar-cart{
				position: absolute;
				top:0;
				left:1430px;
				width: 120px;
				height: 38px;
				background-color: #424242;
				border:1px solid transparent;
				font-size:12px;
			}
			.topbar-cart a{
				display:block;
				float:left;
				margin-left:40px;
				text-align:center;
				line-height:40px;
			}
			.menu-content{
				display:none;
				z-index:1;
				position: absolute;
				top:38px;
				left:-195px;
				width: 316px;
				height: 100px;
				font-size:16px;
				background-color: #fff;
				border:1px solid transparent;
				box-shadow:0 0 5px black;
			}
			.menu-content span{
				position: absolute;
				top:38px;
				left:40px;
			}
			.topbar-cart:hover{
				background-color: #fff;
			}
			.topbar-cart a:hover{
				color:#ff6700;
			}
			.topbar-cart:hover .menu-content{
				display:block;
			}
			.site-header{
				width: 100%;
				height: 100px;
			}
			.header-logo{
				position: absolute;
				top:60px;
				left:330px;
			}
			.header-nav{
				position: absolute;
				top:40px;
				left:400px;
				width: 850px;
				height: 100px;
			}
			.nav-menu li{
				display:block;
				text-align:center;
				line-height:64px;
				float:left;
				margin-right:20px;
			}
			.nav-menu li>a{
				color:black;
			}
			.nav-menu li:first-child{
				margin-left:150px;
			}
			.menu-item{
				display:none;
				z-index:1;
				position:absolute;
				top:100px;
				left:-410px;
				width: 1930px;
				height: 230px;
				background-color: #fff;
				border-top:1px solid #c3c3c3;
				border-bottom:1px solid #c3c3c3;
				box-shadow:0 0 5px #c3c3c3;
			}
			.item-subcon{
				position:relative;
			}
			.item-subcon img{
				margin-top:38px;
				margin-right:20px;
				width: 160px;
				height: 100px;
			}
			.item-subcon span{
				position:absolute;
				top:128px;
				left:48px;
			}
			.item-subcon em{
				position:absolute;
				top:155px;
				left:40px;
				color:red;
			}
			.menu-item li:first-child{
				margin-left:360px;
			}
			.clearfix::after{
				content:"";
				display:block;
				clear:both;
			}
			.nav-menu a:hover{
				color:red;
			}
			.nav-menu li:hover .menu-item{
				display:block;
			}
			#banner{
				position:relative;
				width:1230px;
				height:460px;
				margin-top:-17px;
				margin-left:326px;
			}
			.banner-img li{
				position:absolute;
				top:0;
				left:0;
				width:1226px;
				height:460px;
			}
			.banner-btn{
				position:absolute;
				right:20px;
				bottom:20px;
				width:100px;
				height:15px;
				padding-top:5px;
				}
			.banner-btn span{
				float:left;
				width:8px;
				height:8px;
				margin:0 5px;
				border-radius:50%;
				border:1px solid black;
				background-color:black;
				}
			.banner-btn .select{
				background-color:#eee;
				}
			.b-btn{
				position:absolute;
				top:50%;
				width:40px;
				height:70px;
				margin-top:-35px;
				background:url("images/head-banner/btn.png")no-repeat;
				cursor:pointer;
			}
			.left{
				left:234px;
				background-position:-85px 0;
			}
			.right{
				right:0;
				background-position:-125px 0;
			}
			.left:hover{
				background-position:0 0;
			}
			.right:hover{
				background-position:-46px 0;
			}
			.menu{
				position:absolute;
				top:0;
				left:0;
				width:234px;
				height:420px;
				padding:20px 0;
				background-color:rgba(0,0,0,.5);
			}
			.mm-item{
				height:26px;
			}
			.mm-item a{
				display:block;
				height:26px;
				padding:0 25px;
				font-size:14px;
				line-height:26px;
				color:#ffffff;
			}
			.mm-item > .mm-a > span{
				float:right;
			}
			.mm-item:hover{
				background-color:#f60;
			}
			.sub-menu{
				display:none;
				position:absolute;
				top:0;
				left:234px;
				width:800px;
				height:459px;
				border-top:1px solid #ccc;
				background-color:#fff;
			}
			.sub-menu ul{
				float:left;
				width:245px;
			}
			.sub-menu ul li{
				height:76px;
			}
			.sub-menu .subcon a{
				display:block;
				height:76px;
				line-height:76px;
				font-size:14px;
				color:#000;
				padding-left:20px;
			}
			.sub-menu .subcon a > span{
				margin-left:15px;
			}
			.subcon img{
				height:40px;
				vertical-align:middle;
			}
			.subcon a:hover{
				color:#f60;
			}
			.mm-item:hover .sub-menu{
				display:block;
			}
			.header-search{
				float:right;
				position:relative;
				box-sizing:border-box;
				width:288px;
				height:53px;
				background-color:#FFF;
				margin-top:23px;
				margin-right:370px;
			}
			.sear-other{
				position:relative;
				width:235px;
				box-sizing:border-box;
				border:1px solid red;
				border-width:0 1px 1px 1px;
				background-color: #fff;
				z-index:33;
				top:53px;
				height:300px;
				overflow:hidden;
				opacity:0;
				transition: all .2s;
			}
			.sear-other a{
				display:block;
				font-size:12px;
				line-height:30px;
				color:#000;
				text-indent:15px;
			}
			.sear-other a:hover{background-color: #eee;}
			.search-input{
				position:absolute;
				width:235px;
				height:53px;
				box-sizing:border-box;
				z-index:0;
				padding-left:8px;
				border:1px solid #ccc;
			}
			.search-input:hover{border-color: #aaa;}
			.search-input:hover ~ .search{border-color: #aaa;}
			.search-input:focus{
				outline:none;
				border:1px solid #ff6700;
			}
			.search-input:focus ~ .search{
				box-sizing:border-box;
				border:1px solid #ff6700;
				border-width:1px 1px 1px 0;
			}
			.search-input:focus ~ .sear-other{
				height:300px;
				opacity:1;
			}
			.search-input:focus ~ .sear{
				opacity:0;
			}
			
			.sear{
				position:absolute;
				line-height:20px;
				padding:0 5px;
				margin-top:18px;
				margin-left:60px;
				background-color:#f4f4f4;
				color:#ccc;
				transition: all .2s;
			}
			.header-search a:nth-child(3){left:83px;}
			.header-search a:nth-child(4){left:19px;}
			.search{
				float:right;
				width:53px;
				height:53px;
				margin-right:0;
				box-sizing:border-box;
				border:1px solid #ccc;
				border-width: 1px 1px 1px 0;
				background:url(./images/pic/sear11.png) no-repeat -53px 0;
			}
			.search:hover{background:url(./images/pic/sear11.png) no-repeat;
			}
			.sear:hover{
				background-color:rgb(255,103,0);
				color:#fff;
			}
			.home-hero-sub{
				display:flex;
				justify-content:space-between;
				width:1226px;
				height:170px;
				background-color: #fff;
				margin-top:15px;
				margin-left:326px;
			}
			.hero{
				display:flex;
				flex-wrap:wrap;
				justify-content:space-around;
				align-content:space-around;
				width:234px;
				height:100%;
				background-color:#5f5750;
			}
			.hero a{
				position:relative;
				display:flex;
				flex-direction:column;
				justify-content:center;
				align-content:center;
				opacity: .7;
				width:75px;
				height:78px;
				font-size:12px;
				margin-left:3px;
				text-align:center;
				color:#fff;
			}
			.hero a:hover{opacity: 1;}
			.hero a:before{
				position:absolute;
				content:"";
				top: -1px;
				left: 6px;
				width: 64px;
				height: 1px;
				background-color:#665e57;
			}
			.hero a:after{
				position:absolute;
				content:"";
				top: 6px;
				left: 0;
				width: 1px;
				height: 70px;
				background-color:#665e57;
			}
			.hero a img{
				width: 24px;
				height: 24px;
				margin: 0 auto 4px;
			}
			.hero-2{
				width:316px;
				height:100%;
				background-color:#5f5750;
			}
			.hero-2:hover{box-shadow: 0 15px 30px	rgba(0,0,0,.1);transform: translate3d(0,-2px,0);}
			.hero-2 a img{
				width:316px;
			}
			.page-main{
				background-color: #f5f5f5;
			}
			.box-hd{
				width: 1228px;
				height: 58px;
			}
			.title{
				margin-top:10px;
				margin-left:319px;
			}
			.box-bd{
				position:relative;
				width: 1240px;
				height: 340px;
				margin-top:10px;
				margin-left:319px;
			}
			.flash-countdown{
				float:left;
				width: 234px;
				height: 340px;
				background-color: #f1eded;
				border:1px solid transparent;
			}
			.round{
				font-size:21px;
				color:#ef3a3b;
				margin-top:60px;
				text-align:center;
			}
			.flash-countdown>img{
				margin-top:30px;
				margin-left:91px;
			}
			.desc{
				color:rgba(0,0,0,.54);
				font-size:15px;
				text-align:center;
				margin-top:35px;
			}
			.countdown span{
				float:left;
				width: 46px;
				height: 46px;
				background: #605751;
				color:#fff;
				font-size:24px;
				text-align:center;
				line-height:46px;
			}
			.countdown i{
				width: 15px;
				float:left;
				height: 46px;
				line-height:46px;
				color:#605751;
				font-size:28px;
				font-style:normal;
			}
			.countdown{
				margin-top:24px;
				margin-left:35px;
			}
			.flash-list{
				float:left;
				width: 978px;
				height: 340px;
				margin-left:20px;
			}
			.swiper-wraper{
				position:absolute;
				display:flex;
				justify-content:space-between;
				width:978px;
				height:340px;
				margin-top:0;
			}
			.swiper-list{
				width: 234px;
				background-color: #fff;
			}
			.swiper-list img{
				margin-top:65px;
				margin-left:45px;
			}
			.swiper-list h3{
				font-size:14px;
				color:#212121;
				text-align:center;
				margin-top:10px;
			}
			.swiper-list p{
				font-size:14px;
				color:#b0b0b0;
				text-align:center;
				margin-top:10px;
			}
			.swiper-list span{
				color:red;
			}
			.swiper-controls{
				position:absolute;
				top:-40px;
				right:8px;
				width: 70px;
				height: 25px;
			}
			.left-controls{
				float:left;
				width: 33px;
				height: 25px;
				border:1px solid #e0e0e0;
				font-size:20px;
				text-align:center;
				line-height:25px;
				color:#b0b0b0;
			}
			.right-controls{
				float:left;
				width: 33px;
				height: 25px;
				border:1px solid #e0e0e0;
				font-size:20px;
				text-align:center;
				line-height:25px;
				color:#b0b0b0;
			}
			.swiper-controls a:hover{
				color:#ff0066;
			}
			.home-banner-box{
				width: 1226px;
				height: 120px;
				margin-top:25px;
				margin-left:322px;
			}
			.home-brick-box{
				width: 1226px;
				height: 686px;
				margin-top:25px;
				margin-left:322px;
			}
			.box-dd{
				width: 1226px;
				height: 58px;
			}
			.box-dd h2{
				float:left;
			}
			.more{
				float:right;
				margin-top:18px;
				margin-right:10px;
			}
			.box-da a{
				float:left;
				margin-top:14px;
			    transition:.18s;
			}
			.box-da>a:hover{
				box-shadow:0px 0px 10px #ccc;
				margin-top:10px;
			}
			.box-db ul{
				float:left;
			}
			.box-db ul li{
				float:left;
			}
			.box-db ul li .del{
				display:inline-block;
				margin-left:10px;
				text-decoration:line-through;
			}
			.box-db ul li span:nth-child(1){
				color:red;
			}
			.box-dd a:hover{
				color:red;
			}
			.db{
				margin-left:20px;
			}
			.wrap img{
				margin-left:36px;
			}
			.wrap a{
				display:block;
				font-size:14px;
			}
			.wrap a:nth-child(2){
				color:black;
				display:block;
				margin-left:40px;
			}
			.wrap a:nth-child(3){
				display:block;
				color:#b0b0b0;
				margin-left:52px;
			}
			.wrap a:nth-child(4){
				display:block;
				color:#b0b0b0;
				margin-left:70px;
			}
			.wrap{
				height: 300px;
			}
			.box-db li{
				width: 234px;
				height: 300px;
				margin-left:13px;
				background-color: #fff;
			}
			.box-db .wrap:hover{
				box-shadow:0px 0px 10px #ccc;
				margin-top:-6px;
			}
			.box-md{
				width: 1226px;
				height: 58px;
				margin-top:38px;
				margin-left:322px;
			}
			.box-md a:hover{
				color:red;
			}
			.more1{
				float:right;
				margin-top:-55px;
				margin-right:10px;
			}
			.more1 li{
				float:right;
				margin-right:15px;
			}
			.de{
				width: 1226px;
				height: 628px;
				margin-left:322px;
			}
			.de ul{
				width: 1226px;
				height: 628px;
				display:flex;
				justify-content:space-between;
				flex-wrap:wrap;
				align-content:space-around;
			}
			.de li{
				width: 234px;
				height: 300px;
				transition:.18s;
				background-color: #fff;
			}
			.de-m a{
				display:block;
				font-size:14px;
				text-align:center;
			}
			.de-m a:nth-child(2){
				margin-top:-37px;
				color:black;
			}
			.de-m span{
				margin-right:15px;
				color:red;
			}
			.box-dc .poi{
				background-color: #f5f5f5;
			}
			.de-n{
				width: 234px;
				height: 143px;
				background-color: #fff;
				margin-bottom:14px;
			}
			.de-n a{
				float:right;
			}
			.de-n a:nth-child(2){
				margin-top:35px;
				margin-right:10px;
			}
			.de-n a:nth-child(3){
				margin-top:-18px;
				margin-right:20px;
			}
			.de-n a:first-child{
				margin-top:17px;
				margin-right:10px;
			}
			.n-a a:nth-child(2){
				display:black;
				font-size:20px;
				color:black;
			}
			.n-a a:nth-child(3){
				margin-top:-30px;
				margin-right:53px;
			}
			.n-a a:first-child{
				margin-top:40px;
				margin-right:42px;
			}
			.de-m:hover{
				box-shadow:0px 0px 10px #ccc;
				margin-top:-6px;
			}
			.n-a:hover{
				box-shadow:0px 0px 10px #ccc;
				margin-top:-6px;
			}
			.vide{
				width: 1226px;
				height: 299px;
				margin-left:322px;
			}
			.video-item{
				float:left;
				width: 296px;
				height: 285px;
				margin-left:10px;
				background-color: #fff;
			}
			.video-item:hover{
				box-shadow:0px 0px 10px #ccc;
				margin-top:-6px;
			}
			.video-item a{
				display:block;
				text-align:center;
				font-size:14px;
			}
			.video-item a:nth-child(2){
				color:black;
				margin-top:30px;
			}
			 .siter-footer{
				width: 1585px;
				height: 272px;
				background-color: #fff;
			}
			.footer-container{
				width: 1226px;
				height: 272px;
				margin-left:322px;
			}
			.footer-service{
				width: 1226px;
				height: 80px;
				border:1px solid #fff;
				border-bottom:1px solid #c0c0c0;
			}
			.list-service{
				width: 1226px;
				height: 25px;
				margin-top:29px;
			}
			.list-service li{
				float:left;
				width: 242px;
				height: 25px;
			}
			.list-service a{
				color:black;
			}
			.list-service a:hover{
				color:red;
			}
			.footer-links{
				width: 1226px;
				height: 192px;
			}
			.footer-links dl{
				float:left;
				width: 160px;
				height: 192px;
			}
			.footer-links dt{
				margin-top:20px;
			}
			.footer-links dd:nth-child(2){
				margin-top:30px;
			}
			.footer-links dd{
				margin-bottom:10px;
			}
			.footer-links dd a{
				display:block;
				font-size:14px;
			}
			.links-tit{
				float:right;
				width: 252px;
				height: 112px;
			}
			.links-tit p{
				font-size:14px;
			}
			.links-tit .phone400{
				margin-top:30px;
				color:#ff6700;
				font-size:22px;
			}
			.links-tit a{
				display:block;
				width: 120px;
				height: 30px;
				text-align:center;
				line-height:30px;
				font-size:12px;
				border:1px solid #ff6700;
				color:#ff6700;
			} 
			.site-info{
				width: 1900px;
				height: 232px;
				background-color: #f5f5f5;
				border:1px solid #f5f5f5;
			}
			.info-ab{
				width: 1226px;
				height: 123px;
				margin-top:30px;
				margin-left:322px;
				border:1px solid #f5f5f5;
			}
			.logo-ir{
				width: 57px;
				height: 57px;
				margin-top:-14px;
				text-align:center;
			}
			.info-text{
				width: 1164px;
				height: 91px;
				margin-left:60px;
				margin-top:-57px;
			}
			.info-text a{
				float:left;
				display:block;
				font-size:12px;
			}
			.info-links{
				width: 1226px;
				height: 28px;
				margin-top:-20px;
			}
			.info-links img{
				width: 85px;
				height: 28px;
			}
			.info-links a:first-child{
				margin-left:58px;
			}
			.slogan-ir{
				color:#c0c0c0;
				margin:30px auto;
				text-align:center;
			}